body {
  font-family: 'Roboto Mono',monospace;
  min-height: 40px;
  background-image:;
  background-color: gray;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
  position: below;
  right: 50px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.conversor{
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  top:  60%; 
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  padding: 15px;
}
.botao{
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(31,31,31);
  border: none;
  color: white
}
.botao:hover {
  background-color: black;
}
#resultado{
  background-color: white;
  width: 207px;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 5px;
}